@font-face {
  font-family: dreamOrphans;
  src: url(fonts/dreamOrphans.ttf) format('truetype');
}
@font-face {
  font-family: colab;
  src: url(fonts/ColabReg.otf) format('opentype');
}

html {
  min-width: 769px;
  min-height: 600px;
}
body {
  width:100vw;
  height:100vh;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  max-height:62px;
  min-height:62px;
  width:100vw;
  min-width: 769px;
  background-color: #5e5d5f;
  display:flex;
  justify-content: space-between;
}
.logo {
  margin-left: 10px;
  font-family: dreamOrphans;
}
.logo h1 {
  color:#a47fe1;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 300px;
  margin-right: 100px;
}
.navBtn {
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:100%;
  text-align: center;
  color:#ececec;;
  background-color: #5e5d5f;
  border:0px;
  font-size: 1.2em;
  font-family: dreamOrphans;
}
.navBtn:hover {
  background-color: #767578;
  color:#a47fe1;
}

main {
  display:flex;
  align-items: center;
  justify-content: center;
  min-width:750px;
  height:100%;
  min-height:620px;
  background-color: #ececec;
}
#mainBackGround {
  display:flex;
  justify-content: center;
  background-position: center;
  width:100%;
  height:70%;
  background-image: url(images/denverSkyline.jpg);
}
.content {
  width:750px;
  /*height:600px;*/
  display:flex;
}
.textBox {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ececec;
}
.textBox h2 {
  font-family: dreamOrphans;
  font-size: 2em;
}
.textBox p {
  font-family: colab;
  font-size: 1.5em;
}

.imageBox {
  width:50%;
  display:flex;
}
.leftPics {
  width:50%;
  display:flex;
  flex-direction: column;
}
.rightPics {
  width:50%;
  display:flex;
  flex-direction:column-reverse;
}
.picA {
  height:100px;
  background-color: #5e5d5f;
}
.picB {
  height:300px;
  background-color: #a47fe1;
}
.picC {
  height:200px;
  background-color: #a47fe1;
}

.WorkContent {
  width:auto;
  /*min-width:682px;*/
  /*height:632px;*/
  height:auto;
  display:flex;
  align-items: center;
  /*justify-content: center;*/
}
.workSection {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  text-align: center;
}
.workSection h4 {
  font-family: dreamOrphans;
  margin-bottom: 10px;
}
.workSection p {
  margin-top:10px;
  font-family: colab;
}
.hoverDivTop {
  /*width:225px;*/
  width:auto;
  display:flex;
  flex-direction: column-reverse;
}
.hoverDivBot {
  /*width:225px;*/
  width:auto;
  display:flex;
  flex-direction: column;
}
.modalDiv {
  display:none;
  height:0px;
  background-color: #a47fe1;
  flex-direction: column;
}
.displayDiv {
  height:128px;
  width:223px;
  background-color: #5e5d5f;
}

#displayA, #modalA {
  background-image: url(images/content.png);
  background-size: 400px, 320px;
  background-position:top;
}
#hoverA:hover #displayA {
  display:none;
}
#hoverA:hover #modalA {
  display:flex;
  height:auto;
  width:280px;
}

#displayB, #modalB {
  background-image: url(images/social.png);
  background-size: 280px, 220px;
  background-position:left;
}
#hoverB {
  align-items: center;
}
#hoverB:hover #displayB {
  display:none;
}
#hoverB:hover #modalB {
  display:flex;
  height:auto;
  width:280px;
}

#displayC, #modalC {
  background-image: url(images/inbound.png);
  background-size: 400px, 320px;
  background-position:top;
}
#hoverC {
  align-items: center;
}
#hoverC:hover #displayC {
  display:none;
}
#hoverC:hover #modalC {
  display:flex;
  height:auto;
  width:360px;
}

#displayD, #modalD {
  background-image: url(images/network.jpg);
  background-size: 300px, 300px;
  background-position: center;
}
#hoverD:hover #displayD {
  display:none;
}
#hoverD:hover #modalD {
  display:flex;
  height:auto;
  width:260px;
}

#displayE, #modalE {
  background-image: url(images/seo.png);
  background-size: 350px, 350px;
  background-position:top;
}
#hoverE {
  align-items: center;
}
#hoverE:hover #displayE {
  display:none;
}
#hoverE:hover #modalE {
  display:flex;
  height:auto;
  width:320px;
}

#hoverF:hover #displayF {
  display:none;
}
#hoverF:hover #modalF {
  display:flex;
  height:auto;
}

.contactContent {
  width:750px;
  height:600px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.linkDiv {
  margin-top:20px;
}
#cardImg {
  width:622px;
  height:357px;

}

footer {
  max-height:58px;
  min-height:58px;
  width:100vw;
  background-color: #5e5d5f;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#a47fe1;
  font-family: dreamOrphans;
}
footer h4 {

}


.selected {
  color:#a47fe1;
  background-color: #ececec;
}
.border1 {
  box-sizing: border-box;
  border:1px solid black;
}
.borderGrey {
  box-sizing: border-box;
  border:1px solid #5e5d5f;
}
